/*  ------------------ Loading Page CSS ------------  */
#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background-color: #470324;
}

#load img{
    width:17vw;
    height:17vw;
    margin:12vw 40vw;
}

#load p{
    position: relative;
    top:-120px;
    left:180px;
    font-size: 400%;
    font-weight: 900;
    width:50%;
    margin: 0 auto;
    color: aliceblue;
}

/* ------------------ Form CSS --------------------------------------- */
#sign-up{
    display:none;
    width:100%;
    height:70vh;
    padding:5vh 3vw;
}

#log-in{
    display:none;
    width:100%;
    height:50vh;
    padding:5vh 3vw;
}

#sign-up form,#log-in form{
    width: 50%;
    margin: 0 auto;
    text-align:left;
}

.w3-input{
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #470324;
    width:100%;
}

.w3-input:focus{
    border-color: #f784bc;
    border-radius: 2px;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(238, 9, 121, 0.25);
    width:100%;
}

/* --------- Errors And Warnings ------------- */
.error{
    display:none;
}

.warning{
    display: none;
}