/* ----------------------- Stylings required for Mobile Dimensions  --------------------- */


@media screen and (max-width:476px){
    
    #load img{
        width:17vw;
        height:17vw;
        margin:20vh 40vw;
    }

    #load p{
        position: absolute;
        top:40vh;
        left:35vw; 
        font-size: 150%;
    }
}


@media screen and (max-width:576px){
    #address-div .submit-button{
        top:460px;
    }
    .profile-input{
        top:240px;
        width:50vw;
    }
    
    .settings{
        width:14vw;
        height: 14vw;
        position: fixed;
        right:10px;
        bottom: 10px;
    }

}