/* ----------------------- Stylings required for Tablet Dimensions  --------------------- */


@media screen and (max-width:992px){
    #load p{
        position: relative;
        top:-20vh;
        left:15vw; 
        font-size: 300%;
    }
}

@media screen and (max-width:790px){
    #address-div .submit-button{
        top:360px;
    }
}